#uploadForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#uploadForm label,
#uploadForm input,
#uploadForm textarea,
#uploadForm select {
    margin-bottom: 10px;
}

#uploadForm label {
    width: 120px;
    text-align: right;
    margin-right: 10px;
    color: blue; /* Син цвят за текста на лейбълите */
}

#uploadForm input,
#uploadForm textarea,
#uploadForm select {
    flex: 1;
    margin-right: 0;
    border: 1px solid blue; /* Син цвят за границите на полетата */
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

#uploadForm textarea {
    resize: vertical; /* Позволява вертикално променяне на размера на полето за текст */
}

#uploadForm #photoUpload {
    border: 1px solid purple; /* Лилаво поле за снимка */
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: purple; /* Цвят на текста за снимката */
}

#uploadForm button {
    align-self: flex-start; /* Поставя бутона нагоре в дясно */
}